{% extends 'admin/base.html' %}

{% block body %}
<h1 class="text-center text-danger">THỐNG KÊ DOANH THU</h1>

<div class="row">
    <div class="col-md-7 col-xs-12">
        <table class="table">
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Doanh thu</th>
            </tr>
            {% for s in stats %}
                <tr>
                    <td>{{ s[0] }}</td>
                    <td>{{ s[1] }}</td>
                    <td>
                        {% if s[2] %}
                            {{ "{:,.1f}".format(s[2]) }} VND
                        {% else %}
                            0 VND
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-md-5 col-xs-12">
        <form>
            <div class="form-group">
                <input type="text" name="kw" class="form-control" placeholder="Nhập từ khóa...">
            </div>

             <div class="form-group">
                <input type="date" name="from_date" class="form-control">
            </div>

             <div class="form-group">
                <input type="date" name="to_date" class="form-control">
            </div>
            <input type="submit" value="Thống kê" class="btn btn-info">
        </form>

        <canvas id="productChartId"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-7 col-xs-12">
        <table class="table">
            <tr>
                <th>Tháng</th>
                <th>Doanh thu</th>
            </tr>

            {% for s in month_stats %}
                <tr>
                    <td>{{ s[0] }}</td>
                    <td>{{ "{:,.1f}".format(s[1]) }} VND</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-md-5 col-xs-12">
        <form>
            <div class="form-group">
                <input type="number" min="2000" name="year" class="form-control" placeholder="Nhập năm...">
            </div>
            <input type="submit" value="Thống kê" class="btn btn-primary">
        </form>

        <canvas id="productMonthChartId"></canvas>
    </div>
</div>

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {# Vẽ biểu đồ #}
    <script>
        let labels = [], labels2 = []
        let data = [], data2 = []
        let colors = [], colors2 = []
        let borderColors = [], borderColors2 = []
        let r, g, b

        {% for s in sta %}
            {% if s[2] %}
                labels.push('{{ s[1] }}')
                data.push({{ s[2] }})

                r = Math.random()*255
                g = Math.random()*255
                b = Math.random()*255

                colors.push(`rgba(${r}, ${g}, ${b}, 1)`)
                borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
            {% endif %}
        {% endfor %}

        {% for s in month_stats %}
            labels2.push('{{ s[0] }}')
            data2.push({{ s[1] }})

            r = Math.random()*255
            g = Math.random()*255
            b = Math.random()*255

            colors2.push(`rgba(${r}, ${g}, ${b}, 1)`)
            borderColors2.push(`rgba(${r}, ${g}, ${b}, 1)`)
        {% endfor %}

        window.onload = function() {
            const ctx = document.getElementById('productChartId').getContext('2d');

            const ctx2 = document.getElementById('productMonthChartId').getContext('2d');

            loadChart(ctx, labels, data, 'bar', colors, borderColors)

            loadChart(ctx2, labels2, data2, 'line', colors2, borderColors2)
        }

    function loadChart(ctx, labels, data, type, colors, borderColors) {
        const myChart = new Chart(ctx, {
                type: type,
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Thống kê doanh thu theo sản phẩm',
                        data: data,
                        backgroundColor: colors,
                        borderColor: borderColors,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
    }
    </script>
{% endblock %}
{% endblock %}